@model Final_Nba_API.Models.HistoricPlayer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HistoricPlayer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HistoricPlayerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HistoricPlayerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HistoricPlayerPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HistoricPlayerPosition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HistoricPlayerDOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HistoricPlayerDOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerRetired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerRetired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NbaTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NbaTeam.NbaTeamName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HistoricPlayerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
