@model Final_Nba_API.Models.CurrentPlayer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CurrentPlayer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentPlayerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentPlayerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentPlayerPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentPlayerPosition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentPlayerDOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentPlayerDOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NbaTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NbaTeam.NbaTeamName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CurrentPlayerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
